*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;/*box-sizing: content-box;: el ancho solo incluye el contenido. El padding y el borde se suman por fuera.
                        box-sizing: border-box;: el ancho incluye contenido + padding + borde, todo dentro del tamaño que definiste.
                        Facilita el diseño: no tenés que hacer cálculos para restar el padding o borde. Es más intuitivo al definir tamaños fijos de elementos. 
                        Es muy común aplicarlo globalmente así:*/
  font-family: monospace;
}
body{
  background-color: #43a047;
}
.wrapper{
  background-color: #fff;
  width: 80vmin; /*Si la ventana mide 1000px de ancho y 600px de alto, entonces 1vmin = 6px, porque 600px es menor que 1000px.*/

  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  padding: 40px 20px;
  border-radius: 8px;
  /*la combinación de top: 50%, left: 50% y transform: translate(-50%, -50%)
  sirve para centrar un elemento absolutamente en el medio del contenedor (típicamente el body o un div contenedor).

  Porque sin transform, top: 50% y left: 50% solo ubican la esquina superior izquierda del elemento en el centro del contenedor.
  Pero con translate(-50%, -50%), el centro del elemento queda perfectamente alineado con el centro del contenedor.*/
}
label{
  display: block;/*Mejorar el diseño del formulario: por defecto, los <label> son inline, así que aparecen en la misma línea que otros elementos (como inputs).
                  Así el <label> queda encima del input y no al costado, con un espacio de separación.*/
}
span{
  position: relative;/*no depende de que su padre este posicionado, absolute en cambio si*/
  font-size: 22px;
  bottom: -1px;
}
.opt-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}
button{
  background-color: #43a047;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color:#fff;
}
input[type="color"]{
  -webkit-appearance: none;/*las dos primeras estan obsoletas por si solas, pero esta permitido si ponemos la tercera, son para eliminarle los estilos 
                            predeterminados en ciertos navegadores*/
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch{/*Con ::-webkit-color-swatch podés cambiar cosas como: el borde del 
  recuadro, el radio (esquinas redondeadas), el color de fondo (aunque en general se muestra el color seleccionado).*/
  border-radius: 8px;
  border: 4px solid #000;
}
input[type="color"]::-moz-color-swatch{
  border-radius: 8px;
  border: 4px solid #000;
}
.gridCol{
  height: 1em;
  width: 1em;
  border: 1px solid #ddd;
}
.gridRow{
  display: flex;
}
/*Este media query aplica los estilos solo si el ancho de la pantalla es 
de 768 píxeles o menos, es decir, para tablets y móviles.*/
@media only screen and (max-width:768px){
  .gridCol{
    height: 0.8em;
    width: 0.8em;
  }
}